JWT_SECRET_KEY = "string"
JWT_ALGORITHM = "*S256"
JWT_EXPIRATION_TIME = 60
S3_REGION = "region"
S3_KEY = "APIKEY"
S3_SECRET_KEY = "anotherSecretKey"
S3_BUCKET = "bucketName"
S3_ENDPOINT = "https://cloudservice.com"